@use 'utils' as u;
@use 'variables' as v;

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

//Reset
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  color: var(--color-text-base);
  line-height: 1.6;
  font-size: var(--font-scale-base);
  background-color: var(--color-background);
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: inherit;
  color: var(--color-gray-800);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
}

input,
textarea {
  min-width: 0;
  // flex 컨테이너에서 width: 100%로 설정해서 사용
}

table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;

  >* {
    position: relative;
    top: 1px;
  }

  td {
    min-width: 0;
  }

}
