.header {
  grid-auto-flow: column;
  grid-template: 1fr 1fr/6fr 4fr;
  background-color: var(--color-soft-red);
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius);
  color: var(--color-content-background);
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;

  &__logo {
    grid-row: span 2;
    justify-self: end;
    width: 8.5ch;
  }

  &__caption {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-base);
  }

  &__balance {
    margin-top: -0.3rem;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
  }
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph {
  background-color: var(--color-content-background);
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding-top: 1rem;

  >thead {
    order: 1;
  }

  &__caption {
    text-align: left;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
    color: var(--color-text-dark);
  }

  &__head,
  &__body {
    display: flex;
    justify-content: space-around
  }

  &__head {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--color-background)
  }

  &__body {
    overflow-y: clip;
    height: 14rem;
    align-items: flex-end;
  }

  &__day {
    padding-top: .5rem;
    font-weight: var(--font-weight-base);
    width: 7ch;
  }

  &__value {
    position: relative;
    // overflow-x: clip;
    height: 10rem;
    width: 7ch;

    &:before {
      overflow: visible;
      content: "";
      display: block;
      background-color: var(--color-soft-red);
      border-radius: var(--border-radius-little);
      margin-inline: 1ch;
      height: inherit;
      border-radius: var(--border-radius-little);
    }

    &--highest:before {
      background-color: var(--color-cyan);
    }

    &:hover::after {
      content: attr(data-value);
      position: absolute;
      top: -3.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-text-dark);
      color: var(--color-content-background);
      padding: 0.5rem;
      border-radius: var(--border-radius-little);
      width: 8.5ch;
      text-align: center;
      z-index: 1;
    }
  }
}

.total {
  grid-template: 1fr 1fr/4fr 6fr;
  grid-auto-flow: column;
  position: relative;
  top: -1px;
  background-color: var(--color-content-background);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 0 1.5rem 1rem;
  align-items: end;

  &__caption {
    position: relative;
    top: 10%;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-base);
    color: var(--color-text-base);
  }

  &__expense {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-dark);
  }

  &__comparison {
    position: relative;
    bottom: 8%;
    text-align: right;
    grid-row: span 2;
    justify-self: end;
    line-height: 1.5;
  }

  &__ratio {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-dark);
  }
}
